##### 说明：使用combined_data_1数据集2400万，使用删除没在combined_data_1出现过的Cust_Id和movie id后的子集，probe上RMSE 0.519

In [203]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from surprise.model_selection.validation import cross_validate
from surprise import Reader, Dataset,SVD
pd.set_option('display.max_rows', 200)

#### 导入数据

In [4]:
df = pd.read_csv('combined_data_1.txt', header = None, names = ['Cust_Id', 'Rating'], usecols = [0,1])
df['Rating'] = df['Rating'].astype(float)

In [5]:
df.index = np.arange(0,len(df))
df.shape

(24058263, 2)

In [6]:
df.head()

   Cust_Id  Rating
0       1:     NaN
1  1488844     3.0
2   822109     5.0
3   885013     4.0
4    30878     4.0

In [7]:
df[pd.isnull(df.Rating)]

         Cust_Id  Rating
0             1:     NaN
548           2:     NaN
694           3:     NaN
2707          4:     NaN
2850          5:     NaN
...          ...     ...
24046714   4495:     NaN
24047329   4496:     NaN
24056849   4497:     NaN
24057564   4498:     NaN
24057834   4499:     NaN

[4499 rows x 2 columns]

In [8]:
movie_count = df.isnull().sum()[1]
print(movie_count)
cust_count = df['Cust_Id'].nunique() - movie_count
print(cust_count)
rating_count = df['Cust_Id'].count() - movie_count
print(rating_count)

4499
470758
24053764

#### 观察数据 movie_id从1递增1到4499，根据index确定个数填补movie id

In [9]:
df_nan = pd.DataFrame(pd.isnull(df.Rating))
df_nan = df_nan[df_nan['Rating'] == True]
df_nan = df_nan.reset_index()

movie_np = []
movie_id = 1

for i,j in zip(df_nan['index'][1:],df_nan['index'][:-1]):
    # numpy approach
    temp = np.full((1,i-j-1), movie_id)
    movie_np = np.append(movie_np, temp)
    movie_id += 1

last_record = np.full((1,len(df) - df_nan.iloc[-1, 0] - 1),movie_id)
movie_np = np.append(movie_np, last_record)

In [10]:
# 删除带movie id的行
df = df[pd.notnull(df['Rating'])]
df['Movie_Id'] = movie_np.astype(int)
df['Cust_Id'] = df['Cust_Id'].astype(int)
df.iloc[::5000000, :]

          Cust_Id  Rating  Movie_Id
1         1488844     3.0         1
5000996    501954     2.0       996
10001962   404654     5.0      1962
15002876   886608     2.0      2876
20003825  1193835     2.0      3825

#### 数据太多，考虑删除评论过少的电影(相对不受欢迎)和删除评论过少的客户(相对不活跃)

In [11]:
f = ['count','mean']
df_movie_summary = df.groupby('Movie_Id')['Rating'].agg(f)
df_movie_summary.index = df_movie_summary.index.map(int)
movie_benchmark = round(df_movie_summary['count'].quantile(0.8),0)
drop_movie_list = df_movie_summary[df_movie_summary['count'] < movie_benchmark].index

print('Movie minimum times of review: {}'.format(movie_benchmark))

df_cust_summary = df.groupby('Cust_Id')['Rating'].agg(f)
df_cust_summary.index = df_cust_summary.index.map(int)
cust_benchmark = round(df_cust_summary['count'].quantile(0.8),0)
drop_cust_list = df_cust_summary[df_cust_summary['count'] < cust_benchmark].index

print('Customer minimum times of review: {}'.format(cust_benchmark))

Movie minimum times of review: 3884.0
Customer minimum times of review: 79.0

#### 删除后数据量减小一半

In [12]:
df = df[~df['Movie_Id'].isin(drop_movie_list)]
df = df[~df['Cust_Id'].isin(drop_cust_list)]

In [13]:
df.shape

(13528427, 3)

In [14]:
df_p = pd.pivot_table(df,values='Rating',index='Cust_Id',columns='Movie_Id')
df_p.shape

(95325, 900)

In [15]:
df_p

Movie_Id,8,17,18,26,28,30,33,44,46,52,...,4454,4465,4472,4474,4479,4488,4490,4492,4493,4496
Cust_Id,,,,,,,,,,,,,,,,,,,,,
6,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,5.0,NaN,NaN,NaN,4.0,5.0,NaN,NaN,NaN,NaN,...,NaN,2.0,3.0,NaN,5.0,NaN,NaN,NaN,NaN,NaN
79,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,4.0,NaN,NaN,NaN,4.0,NaN,NaN,NaN
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2649285,NaN,NaN,NaN,NaN,4.0,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,5.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN
2649296,NaN,NaN,NaN,NaN,4.0,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2649308,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0
2649335,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2649336,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.0,NaN,NaN,5.0,NaN,NaN,NaN,NaN

#### 创建模型

In [16]:
reader = Reader()
# 用前100K数据
data = Dataset.load_from_df(df[['Cust_Id', 'Movie_Id', 'Rating']][:100000], reader)

In [17]:
svd = SVD()
score=cross_validate(svd, data, measures=['RMSE'],cv=5)

In [18]:
print("mean RMSE ",score["test_rmse"].mean())

mean RMSE  0.9849373124189615

In [19]:
# 用全部数据集
data = Dataset.load_from_df(df[['Cust_Id', 'Movie_Id', 'Rating']], reader)
trainset = data.build_full_trainset()
svd.fit(trainset)

#### 处理probe

In [20]:
probe = pd.read_csv('probe.txt', header=None, names=['Cust_Id'], dtype={'Cust_Id': 'str'});
probe.head()

   Cust_Id
0       1:
1    30878
2  2647871
3  1283744
4  2488120

In [21]:
# 取出电影ID
movieID_index = []; # 存储电影ID所在行索引
movieID_np = []; # 存储custID对应的电影ID
movie_id = -1;
for i in range(len(probe)):
    if ':' in probe.Cust_Id[i]:
        movieID_index.append(i); 
        movie_id = int(probe.Cust_Id[i][:-1]);
    else:
        movieID_np.append(movie_id);

In [22]:
# 删除movie id行
probeData=probe.drop(index=movieID_index)

In [23]:
# 添加movie id列
probeData['movieID'] = movieID_np;

In [24]:
probeData.head()

   Cust_Id  movieID
1    30878        1
2  2647871        1
3  1283744        1
4  2488120        1
5   317050        1

#### 提取probe的子集，因为只使用combined1，所以需要删除probe在df里没出现过的movie id和cust id

In [25]:
users=list(df.Cust_Id.unique())
movies=list(df.Movie_Id.unique())

In [26]:
len(movies)

900

In [27]:
len(users)

95325

In [28]:
probe_movies=probeData.movieID.unique()

In [29]:
probeData.Cust_Id=probeData.Cust_Id.astype("int")
probe_users=probeData.Cust_Id.unique()

In [30]:
len(probe_users)

462858

In [31]:
del_movies=set(probe_movies)-set(movies)
len(del_movies)

16038

In [32]:
# df里先从movie id删除

# dataframe运行速度太慢，转换成字典{movieid：custid}几秒。。。
probeData_dict={}
for i,j in probeData.groupby("movieID"):
    probeData_dict.update({i:list(j.Cust_Id)})

for i in del_movies:
    if probeData_dict.get(i):
        probeData_dict.pop(i)

#dataframe效果不好
# for i in del_movies:
#     probeData=probeData.drop(index=probeData[probeData.loc[:,"movieID"]==i].index)

In [42]:
import pickle

In [60]:
# 太容易崩了。。保存单独处理
aa=pickle.dumps(del_users)
bb=pickle.dumps(probeData_dict)
cc=pickle.dumps(svd)

In [61]:
with open("del_users","wb")as f:
    f.write(aa)

In [58]:
with open("probeData_dict","wb")as f:
    f.write(bb)

试过很多方法 发现最快的删除是用index

In [85]:
# 先把Cust_Id设置成index
probeData_c=probeData.set_index("Cust_Id")
probeData_c=probeData_c.drop(index=del_users)
probeData_c=probeData_c.reset_index()

In [83]:
probeData_c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286934 entries, 0 to 286933
Data columns (total 2 columns):
Cust_Id    286934 non-null int64
movieID    286934 non-null int64
dtypes: int64(2)
memory usage: 4.4 MB

In [87]:
probe_movies=probeData_c.movieID.unique()

In [88]:
del_movies=set(probe_movies)-set(movies)
len(del_movies)

12722

In [89]:
# 同理 删除movie id
probeData_c=probeData_c.set_index("movieID")
probeData_c=probeData_c.drop(index=list(del_movies))
probeData_c=probeData_c.reset_index()

In [91]:
probeData_c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90824 entries, 0 to 90823
Data columns (total 2 columns):
movieID    90824 non-null int64
Cust_Id    90824 non-null int64
dtypes: int64(2)
memory usage: 1.4 MB

subProbe是对于combined_data_1的probe的子集

In [92]:
subProbe=probeData_c

#### 预测probe

In [ ]:
subProbe['Estimate_Score'] = subProbe['Movie_Id'].apply(lambda x: svd.predict(785314, x).est)

In [95]:
subProbe.head()

   Cust_Id  movieID
0  1025642     1001
1   624334     1001
2   549109     1001
3   584301     1001
4   437680     1001

In [197]:
for i in subProbe.index:
    uid,iid,c=subProbe.loc[i]
    subProbe.loc[i,"Estimate_Score"]=svd.predict(uid,iid).est

#### Probe预测结果

In [216]:
subProbe[::4000]

       Cust_Id  movieID  Estimate_Score
0      1025642     1001        4.029890
4000   2407568     1175        3.486297
8000   2245579     1435        4.212680
12000  1030307     1633        4.582539
16000   554567     1771        1.751103
20000   942951     1959        3.350738
24000  1548039      215        3.159759
28000  2357466     2372        4.367580
32000  2564142      257        4.213369
36000  1809981     2809        3.697085
40000  2422360     2965        3.459825
44000  1181558     3150        3.596365
48000   744519      329        4.375033
52000   876697     3441        3.047938
56000  2602740      361        3.541234
60000  2202279     3858        2.991803
64000  2186332     3864        3.209849
68000  1957972      406        2.904359
72000   261151     4315        3.581826
76000   983332      459        2.837090
80000   678911      571        3.944581
84000  2633860      708        2.923041
88000  1834097      862        4.037315

In [217]:
data = Dataset.load_from_df(subProbe[['Cust_Id', 'movieID', 'Estimate_Score']], reader)

In [218]:
score=cross_validate(svd, data, measures=['RMSE'],cv=5)

In [220]:
print("mean RMSE ",score["test_rmse"].mean())

mean RMSE  0.5193186653465809