In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LogisticRegression
from scipy.stats import norm

载入数据

In [2]:
train=pd.read_csv("train.csv")
test=pd.read_csv("test.csv")
print('train：',train.shape,'test：',test.shape)

train： (1176, 36) test： (294, 35)

In [3]:
train['Attrition']=train['Attrition'].map({"Yes":1,"No":0})

In [4]:
data=train.append(test,ignore_index=True,sort=False)
print('合并后的数据集：',data.shape)

合并后的数据集： (1470, 36)

In [5]:
data.head()

,user_id,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,1374,58,0.0,Travel_Rarely,605,Sales,21,3,Life Sciences,1,...,3,80,1,29,2,2,1,0,0,0
1,1092,45,0.0,Travel_Rarely,950,Research & Development,28,3,Technical Degree,1,...,4,80,1,8,3,3,5,4,0,3
2,768,40,0.0,Travel_Rarely,300,Sales,26,3,Marketing,1,...,2,80,1,8,3,2,7,7,7,5
3,569,36,0.0,Non-Travel,1434,Sales,8,4,Life Sciences,1,...,2,80,0,10,1,3,10,7,0,9
4,911,25,1.0,Travel_Frequently,599,Sales,24,1,Life Sciences,1,...,4,80,0,1,4,3,1,0,1,0

In [6]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
user_id,1470.0,734.500000,424.496761,0.0,367.25,734.5,1101.75,1469.0
Age,1470.0,36.923810,9.135373,18.0,30.00,36.0,43.00,60.0
Attrition,1176.0,0.159864,0.366636,0.0,0.00,0.0,0.00,1.0
DailyRate,1470.0,802.485714,403.509100,102.0,465.00,802.0,1157.00,1499.0
DistanceFromHome,1470.0,9.192517,8.106864,1.0,2.00,7.0,14.00,29.0
Education,1470.0,2.912925,1.024165,1.0,2.00,3.0,4.00,5.0
EmployeeCount,1470.0,1.000000,0.000000,1.0,1.00,1.0,1.00,1.0
EmployeeNumber,1470.0,1024.865306,602.024335,1.0,491.25,1020.5,1555.75,2068.0
EnvironmentSatisfaction,1470.0,2.721769,1.093082,1.0,2.00,3.0,4.00,4.0
HourlyRate,1470.0,65.891156,20.329428,30.0,48.00,66.0,83.75,100.0
JobInvolvement,1470.0,2.729932,0.711561,1.0,2.00,3.0,3.00,4.0
JobLevel,1470.0,2.063946,1.106940,1.0,1.00,2.0,3.00,5.0
JobSatisfaction,1470.0,2.728571,1.102846,1.0,2.00,3.0,4.00,4.0
MonthlyIncome,1470.0,6502.931293,4707.956783,1009.0,2911.00,4919.0,8379.00,19999.0
MonthlyRate,1470.0,14313.103401,7117.786044,2094.0,8047.00,14235.5,20461.50,26999.0
NumCompaniesWorked,1470.0,2.693197,2.498009,0.0,1.00,2.0,4.00,9.0
PercentSalaryHike,1470.0,15.209524,3.659938,11.0,12.00,14.0,18.00,25.0
PerformanceRating,1470.0,3.153741,0.360824,3.0,3.00,3.0,3.00,4.0
RelationshipSatisfaction,1470.0,2.712245,1.081209,1.0,2.00,3.0,4.00,4.0
StandardHours,1470.0,80.000000,0.000000,80.0,80.00,80.0,80.00,80.0
StockOptionLevel,1470.0,0.793878,0.852077,0.0,0.00,1.0,1.00,3.0
TotalWorkingYears,1470.0,11.279592,7.780782,0.0,6.00,10.0,15.00,40.0
TrainingTimesLastYear,1470.0,2.799320,1.289271,0.0,2.00,3.0,3.00,6.0
WorkLifeBalance,1470.0,2.761224,0.706476,1.0,2.00,3.0,3.00,4.0
YearsAtCompany,1470.0,7.008163,6.126525,0.0,3.00,5.0,9.00,40.0
YearsInCurrentRole,1470.0,4.229252,3.623137,0.0,2.00,3.0,7.00,18.0
YearsSinceLastPromotion,1470.0,2.187755,3.222430,0.0,0.00,1.0,3.00,15.0
YearsWithCurrManager,1470.0,4.123129,3.568136,0.0,2.00,3.0,7.00,17.0

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 36 columns):
user_id                     1470 non-null int64
Age                         1470 non-null int64
Attrition                   1176 non-null float64
BusinessTravel              1470 non-null object
DailyRate                   1470 non-null int64
Department                  1470 non-null object
DistanceFromHome            1470 non-null int64
Education                   1470 non-null int64
EducationField              1470 non-null object
EmployeeCount               1470 non-null int64
EmployeeNumber              1470 non-null int64
EnvironmentSatisfaction     1470 non-null int64
Gender                      1470 non-null object
HourlyRate                  1470 non-null int64
JobInvolvement              1470 non-null int64
JobLevel                    1470 non-null int64
JobRole                     1470 non-null object
JobSatisfaction             1470 non-null int64
MaritalStatus               1470 non-null object
MonthlyIncome               1470 non-null int64
MonthlyRate                 1470 non-null int64
NumCompaniesWorked          1470 non-null int64
Over18                      1470 non-null object
OverTime                    1470 non-null object
PercentSalaryHike           1470 non-null int64
PerformanceRating           1470 non-null int64
RelationshipSatisfaction    1470 non-null int64
StandardHours               1470 non-null int64
StockOptionLevel            1470 non-null int64
TotalWorkingYears           1470 non-null int64
TrainingTimesLastYear       1470 non-null int64
WorkLifeBalance             1470 non-null int64
YearsAtCompany              1470 non-null int64
YearsInCurrentRole          1470 non-null int64
YearsSinceLastPromotion     1470 non-null int64
YearsWithCurrManager        1470 non-null int64
dtypes: float64(1), int64(27), object(8)
memory usage: 413.6+ KB

删除字段

In [8]:
data.drop(['Over18','StandardHours','EmployeeCount','EmployeeNumber','user_id'],axis=1,inplace=True)

编码

In [9]:
data=pd.get_dummies(data, columns = ["BusinessTravel"],drop_first=True)
data=pd.get_dummies(data, columns = ["Department"], drop_first=True)
data=pd.get_dummies(data, columns = ["Education"],drop_first=True)
data=pd.get_dummies(data, columns = ["EducationField"], drop_first=True)
data=pd.get_dummies(data, columns = ["EnvironmentSatisfaction"], drop_first=True)
data=pd.get_dummies(data, columns = ["Gender"], drop_first=True)
data=pd.get_dummies(data, columns = ["JobInvolvement"], drop_first=True)
data=pd.get_dummies(data, columns = ["JobRole"], drop_first=True)
data=pd.get_dummies(data, columns = ["MaritalStatus"], drop_first=True)
data=pd.get_dummies(data, columns = ["OverTime"], drop_first=True)
data=pd.get_dummies(data, columns = ["PerformanceRating"], drop_first=True)
data=pd.get_dummies(data, columns = ["RelationshipSatisfaction"], drop_first=True)
data=pd.get_dummies(data, columns = ["StockOptionLevel"], drop_first=True)
data=pd.get_dummies(data, columns = ["TrainingTimesLastYear"], drop_first=True)
data=pd.get_dummies(data, columns = ["WorkLifeBalance"], drop_first=True)

In [10]:
corrDf = data.corr()

In [12]:
pd.DataFrame(corrDf['Attrition'].sort_values(ascending =False)).head(30)

                                  Attrition
Attrition                          1.000000
OverTime_Yes                       0.225425
JobRole_Sales Representative       0.175908
MaritalStatus_Single               0.169450
BusinessTravel_Travel_Frequently   0.123936
JobRole_Laboratory Technician      0.105588
Department_Sales                   0.080562
EducationField_Technical Degree    0.079830
DistanceFromHome                   0.072157
EducationField_Marketing           0.069331
JobRole_Human Resources            0.051005
TrainingTimesLastYear_2            0.044124
Education_3                        0.043534
Gender_Male                        0.038074
TrainingTimesLastYear_4            0.037897
NumCompaniesWorked                 0.037556
MonthlyRate                        0.034358
JobInvolvement_2                   0.021586
JobRole_Sales Executive            0.009841
RelationshipSatisfaction_3         0.008273
EducationField_Other               0.004304
StockOptionLevel_3                 0.003173
WorkLifeBalance_2                 -0.000019
WorkLifeBalance_4                 -0.001072
PerformanceRating_4               -0.001920
HourlyRate                        -0.003484
JobRole_Research Scientist        -0.013629
Education_2                       -0.019337
RelationshipSatisfaction_4        -0.022755
Education_5                       -0.025454

In [13]:
#原始数据1176行
sourceRow=1176
train_x = data.loc[0:sourceRow-1,:]
train_x=train_x.drop('Attrition',axis=1)
#原始数据标签
train_y = data.loc[0:sourceRow-1,'Attrition']

#预测数据集
test_x = data.loc[sourceRow:,:]
test_x=test_x.drop('Attrition',axis=1)

In [15]:
def minmax(df):
    scaler = MinMaxScaler()
    result=scaler.fit_transform(df)
    w=pd.DataFrame(result)
    w.columns=df.columns
    w.index=df.index
    return w
train_scaler=minmax(train_x)
test_scaler=minmax(test_x)

In [17]:
lr = LogisticRegression(solver="liblinear")
lr.fit(train_scaler, train_y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

In [19]:
lr.score(train_scaler,train_y)

0.8903061224489796

In [22]:
Attrition=lr.predict_proba(test_scaler)

In [21]:
result = pd.DataFrame(columns=["user_id","Attrition"])

In [150]:
result["Attrition"]=pd.DataFrame(ty)[1].values
result["user_id"]=test.user_id.values

In [151]:
result.to_csv('sampleSubmission_9.csv',index=None)

In [23]:
Attrition

array([[9.69524269e-01, 3.04757312e-02],
       [8.83314926e-01, 1.16685074e-01],
       [4.86115794e-01, 5.13884206e-01],
       [9.13936280e-01, 8.60637200e-02],
       [3.44320131e-01, 6.55679869e-01],
       [9.61695662e-01, 3.83043385e-02],
       [3.66875046e-01, 6.33124954e-01],
       [9.11551199e-01, 8.84488012e-02],
       [9.97684385e-01, 2.31561476e-03],
       [6.44741075e-01, 3.55258925e-01],
       [9.70040021e-01, 2.99599794e-02],
       [7.70939135e-01, 2.29060865e-01],
       [9.51704112e-01, 4.82958883e-02],
       [2.72844942e-01, 7.27155058e-01],
       [9.21972793e-01, 7.80272075e-02],
       [9.90734805e-01, 9.26519520e-03],
       [8.58450197e-01, 1.41549803e-01],
       [9.54058578e-01, 4.59414216e-02],
       [9.35288643e-01, 6.47113570e-02],
       [9.05372444e-01, 9.46275563e-02],
       [8.10989226e-01, 1.89010774e-01],
       [9.73051816e-01, 2.69481837e-02],
       [9.81306073e-01, 1.86939271e-02],
       [9.50325718e-01, 4.96742817e-02],
       [4.59589526e-01, 5.40410474e-01],
       [5.48234298e-01, 4.51765702e-01],
       [9.50688241e-01, 4.93117595e-02],
       [9.69489251e-01, 3.05107485e-02],
       [3.00901820e-01, 6.99098180e-01],
       [9.63510818e-01, 3.64891820e-02],
       [9.77309890e-01, 2.26901104e-02],
       [8.64511111e-01, 1.35488889e-01],
       [9.12893686e-01, 8.71063138e-02],
       [9.18184201e-01, 8.18157987e-02],
       [9.09021723e-01, 9.09782767e-02],
       [9.92870159e-01, 7.12984104e-03],
       [9.22940205e-01, 7.70597954e-02],
       [8.46820603e-01, 1.53179397e-01],
       [9.85484505e-01, 1.45154947e-02],
       [9.28664271e-01, 7.13357289e-02],
       [9.71519890e-01, 2.84801102e-02],
       [9.85710812e-01, 1.42891885e-02],
       [9.96762518e-01, 3.23748218e-03],
       [9.87647832e-01, 1.23521679e-02],
       [9.66749485e-01, 3.32505152e-02],
       [3.56297227e-01, 6.43702773e-01],
       [7.50770441e-01, 2.49229559e-01],
       [9.97971074e-01, 2.02892646e-03],
       [4.08374245e-01, 5.91625755e-01],
       [7.78595053e-01, 2.21404947e-01],
       [9.10681829e-01, 8.93181707e-02],
       [2.69878379e-01, 7.30121621e-01],
       [9.78539912e-01, 2.14600878e-02],
       [8.07493169e-01, 1.92506831e-01],
       [3.08821663e-01, 6.91178337e-01],
       [7.51522187e-01, 2.48477813e-01],
       [9.73132772e-01, 2.68672284e-02],
       [5.57448204e-01, 4.42551796e-01],
       [9.86095277e-01, 1.39047228e-02],
       [6.07444185e-01, 3.92555815e-01],
       [9.80627941e-01, 1.93720588e-02],
       [8.43468189e-01, 1.56531811e-01],
       [8.19955632e-01, 1.80044368e-01],
       [9.63335081e-01, 3.66649189e-02],
       [6.70727651e-01, 3.29272349e-01],
       [9.35237631e-01, 6.47623686e-02],
       [8.12239416e-01, 1.87760584e-01],
       [7.85629467e-01, 2.14370533e-01],
       [9.36280740e-01, 6.37192598e-02],
       [7.34063978e-01, 2.65936022e-01],
       [9.45256461e-01, 5.47435388e-02],
       [9.32948257e-01, 6.70517434e-02],
       [9.14348160e-01, 8.56518402e-02],
       [9.09913660e-01, 9.00863397e-02],
       [9.63167087e-01, 3.68329131e-02],
       [8.94098754e-01, 1.05901246e-01],
       [9.73351181e-01, 2.66488193e-02],
       [9.21183832e-01, 7.88161677e-02],
       [4.71969849e-01, 5.28030151e-01],
       [9.72070631e-01, 2.79293692e-02],
       [9.90492655e-01, 9.50734548e-03],
       [9.84904561e-01, 1.50954390e-02],
       [8.31120249e-01, 1.68879751e-01],
       [9.51761084e-01, 4.82389162e-02],
       [9.21574021e-01, 7.84259792e-02],
       [9.19211095e-01, 8.07889052e-02],
       [9.98382381e-01, 1.61761932e-03],
       [9.71847871e-01, 2.81521293e-02],
       [9.79685658e-01, 2.03143422e-02],
       [9.57570417e-01, 4.24295833e-02],
       [8.64719083e-01, 1.35280917e-01],
       [9.58478656e-01, 4.15213443e-02],
       [8.10839812e-01, 1.89160188e-01],
       [5.67284471e-01, 4.32715529e-01],
       [9.95590506e-01, 4.40949386e-03],
       [8.75046347e-01, 1.24953653e-01],
       [5.93173701e-01, 4.06826299e-01],
       [4.01854440e-01, 5.98145560e-01],
       [9.67026823e-01, 3.29731769e-02],
       [8.79520359e-01, 1.20479641e-01],
       [8.45380445e-01, 1.54619555e-01],
       [5.79250640e-01, 4.20749360e-01],
       [6.57931849e-01, 3.42068151e-01],
       [9.92275441e-01, 7.72455866e-03],
       [8.68784489e-01, 1.31215511e-01],
       [9.89912255e-01, 1.00877454e-02],
       [9.33561214e-01, 6.64387863e-02],
       [7.95669201e-01, 2.04330799e-01],
       [9.51699969e-01, 4.83000305e-02],
       [7.35651021e-01, 2.64348979e-01],
       [9.72620886e-01, 2.73791140e-02],
       [9.35585766e-01, 6.44142339e-02],
       [9.89927472e-01, 1.00725276e-02],
       [8.66518025e-01, 1.33481975e-01],
       [9.42951678e-01, 5.70483222e-02],
       [9.51891435e-01, 4.81085651e-02],
       [9.90596628e-01, 9.40337233e-03],
       [9.12121509e-01, 8.78784913e-02],
       [9.88426834e-01, 1.15731664e-02],
       [9.90295454e-01, 9.70454577e-03],
       [9.14041494e-01, 8.59585061e-02],
       [9.58824939e-01, 4.11750608e-02],
       [9.60234335e-01, 3.97656649e-02],
       [1.52247644e-01, 8.47752356e-01],
       [9.70416283e-01, 2.95837168e-02],
       [9.92725723e-01, 7.27427742e-03],
       [9.91795085e-01, 8.20491537e-03],
       [9.53301946e-01, 4.66980542e-02],
       [9.01872135e-01, 9.81278652e-02],
       [9.87364253e-01, 1.26357468e-02],
       [9.94770077e-01, 5.22992264e-03],
       [6.62970644e-01, 3.37029356e-01],
       [5.13076387e-01, 4.86923613e-01],
       [6.41781323e-01, 3.58218677e-01],
       [9.73630627e-01, 2.63693730e-02],
       [5.65567937e-01, 4.34432063e-01],
       [3.99715092e-01, 6.00284908e-01],
       [8.98644742e-01, 1.01355258e-01],
       [8.56235322e-01, 1.43764678e-01],
       [4.43826483e-01, 5.56173517e-01],
       [9.81216638e-01, 1.87833620e-02],
       [9.59061597e-01, 4.09384032e-02],
       [9.72383154e-01, 2.76168465e-02],
       [8.18995526e-01, 1.81004474e-01],
       [6.43304971e-01, 3.56695029e-01],
       [9.81860132e-01, 1.81398685e-02],
       [7.70635006e-01, 2.29364994e-01],
       [9.94648401e-01, 5.35159857e-03],
       [9.56429003e-01, 4.35709972e-02],
       [8.87285152e-01, 1.12714848e-01],
       [9.95137374e-01, 4.86262568e-03],
       [9.30725133e-01, 6.92748665e-02],
       [9.29452929e-01, 7.05470714e-02],
       [6.25537920e-01, 3.74462080e-01],
       [9.58084314e-01, 4.19156864e-02],
       [9.85782300e-01, 1.42176999e-02],
       [9.81530095e-01, 1.84699051e-02],
       [8.12375200e-01, 1.87624800e-01],
       [9.77901066e-01, 2.20989340e-02],
       [9.93645895e-01, 6.35410548e-03],
       [4.25898227e-01, 5.74101773e-01],
       [9.93768133e-01, 6.23186732e-03],
       [9.28233988e-01, 7.17660119e-02],
       [8.66195872e-02, 9.13380413e-01],
       [9.73065485e-01, 2.69345147e-02],
       [7.32927008e-01, 2.67072992e-01],
       [7.30158825e-01, 2.69841175e-01],
       [9.40709577e-01, 5.92904233e-02],
       [9.69264208e-01, 3.07357917e-02],
       [9.97773372e-01, 2.22662793e-03],
       [8.07187268e-01, 1.92812732e-01],
       [9.64891315e-01, 3.51086847e-02],
       [9.55086945e-01, 4.49130549e-02],
       [8.62506493e-01, 1.37493507e-01],
       [9.82464061e-01, 1.75359387e-02],
       [8.24202129e-01, 1.75797871e-01],
       [9.49211430e-01, 5.07885705e-02],
       [8.94245961e-01, 1.05754039e-01],
       [9.14381018e-01, 8.56189821e-02],
       [8.80226919e-01, 1.19773081e-01],
       [9.68465191e-01, 3.15348090e-02],
       [8.71525471e-01, 1.28474529e-01],
       [9.94925288e-01, 5.07471215e-03],
       [2.26573366e-01, 7.73426634e-01],
       [9.74393720e-01, 2.56062805e-02],
       [9.47523307e-01, 5.24766926e-02],
       [5.15785338e-01, 4.84214662e-01],
       [9.70524848e-01, 2.94751522e-02],
       [5.93734075e-01, 4.06265925e-01],
       [8.05237466e-01, 1.94762534e-01],
       [7.73480191e-01, 2.26519809e-01],
       [6.85599849e-01, 3.14400151e-01],
       [9.12128409e-01, 8.78715912e-02],
       [9.84490605e-01, 1.55093947e-02],
       [9.78833857e-01, 2.11661431e-02],
       [8.92160807e-01, 1.07839193e-01],
       [9.59770370e-01, 4.02296305e-02],
       [9.91026138e-01, 8.97386229e-03],
       [5.71642527e-01, 4.28357473e-01],
       [9.71310609e-01, 2.86893913e-02],
       [6.79257169e-01, 3.20742831e-01],
       [8.30715722e-01, 1.69284278e-01],
       [1.63030200e-01, 8.36969800e-01],
       [9.88663701e-01, 1.13362989e-02],
       [9.26190244e-01, 7.38097559e-02],
       [9.72416729e-01, 2.75832711e-02],
       [8.53962450e-01, 1.46037550e-01],
       [9.98298156e-01, 1.70184426e-03],
       [9.35520384e-01, 6.44796164e-02],
       [9.90770999e-01, 9.22900117e-03],
       [9.49451708e-01, 5.05482923e-02],
       [8.47707532e-01, 1.52292468e-01],
       [9.59718963e-01, 4.02810365e-02],
       [4.48965015e-01, 5.51034985e-01],
       [9.22952146e-01, 7.70478544e-02],
       [9.87848864e-01, 1.21511356e-02],
       [9.83022457e-01, 1.69775426e-02],
       [8.15090119e-01, 1.84909881e-01],
       [9.49326293e-01, 5.06737070e-02],
       [8.60213825e-01, 1.39786175e-01],
       [8.86765334e-01, 1.13234666e-01],
       [7.15632357e-01, 2.84367643e-01],
       [6.22792973e-01, 3.77207027e-01],
       [9.57639956e-01, 4.23600444e-02],
       [7.02151543e-01, 2.97848457e-01],
       [9.96872637e-01, 3.12736266e-03],
       [9.29526488e-01, 7.04735120e-02],
       [6.97006475e-01, 3.02993525e-01],
       [2.39721943e-01, 7.60278057e-01],
       [9.40899789e-01, 5.91002114e-02],
       [9.56605285e-01, 4.33947149e-02],
       [8.03028710e-01, 1.96971290e-01],
       [9.78981344e-01, 2.10186557e-02],
       [9.67805216e-01, 3.21947836e-02],
       [8.95911257e-01, 1.04088743e-01],
       [7.57390609e-01, 2.42609391e-01],
       [7.59594233e-01, 2.40405767e-01],
       [9.97626878e-01, 2.37312181e-03],
       [8.96765255e-01, 1.03234745e-01],
       [9.93462629e-01, 6.53737084e-03],
       [7.23847370e-01, 2.76152630e-01],
       [5.88203200e-01, 4.11796800e-01],
       [9.92339263e-01, 7.66073697e-03],
       [8.71592078e-01, 1.28407922e-01],
       [8.15712674e-01, 1.84287326e-01],
       [9.64893820e-01, 3.51061799e-02],
       [9.30959588e-01, 6.90404117e-02],
       [7.70791914e-01, 2.29208086e-01],
       [8.45203030e-01, 1.54796970e-01],
       [9.59199961e-01, 4.08000387e-02],
       [7.95536141e-01, 2.04463859e-01],
       [8.85300581e-01, 1.14699419e-01],
       [5.77501942e-01, 4.22498058e-01],
       [9.89577271e-01, 1.04227294e-02],
       [8.55609061e-01, 1.44390939e-01],
       [8.49453795e-01, 1.50546205e-01],
       [9.97259697e-01, 2.74030320e-03],
       [4.11531158e-01, 5.88468842e-01],
       [7.07734028e-01, 2.92265972e-01],
       [3.84252318e-01, 6.15747682e-01],
       [6.88150320e-01, 3.11849680e-01],
       [9.73268433e-01, 2.67315672e-02],
       [7.89535443e-01, 2.10464557e-01],
       [9.43953431e-01, 5.60465692e-02],
       [9.50568793e-01, 4.94312071e-02],
       [8.72633486e-01, 1.27366514e-01],
       [9.91013987e-01, 8.98601319e-03],
       [4.17518489e-01, 5.82481511e-01],
       [5.44165311e-01, 4.55834689e-01],
       [9.79320344e-01, 2.06796558e-02],
       [9.43049575e-01, 5.69504252e-02],
       [9.87296216e-01, 1.27037840e-02],
       [9.07030522e-01, 9.29694781e-02],
       [9.76098313e-01, 2.39016873e-02],
       [9.88272024e-01, 1.17279760e-02],
       [9.86775831e-01, 1.32241695e-02],
       [9.51099361e-01, 4.89006385e-02],
       [6.17797079e-01, 3.82202921e-01],
       [8.70701258e-01, 1.29298742e-01],
       [8.53096972e-01, 1.46903028e-01],
       [5.56582275e-01, 4.43417725e-01],
       [9.90845063e-01, 9.15493750e-03],
       [8.84189629e-01, 1.15810371e-01],
       [9.05281578e-01, 9.47184219e-02],
       [9.63865002e-01, 3.61349982e-02],
       [9.06709808e-01, 9.32901922e-02],
       [9.99447728e-01, 5.52272399e-04],
       [8.95234234e-01, 1.04765766e-01],
       [9.93312512e-01, 6.68748819e-03],
       [9.83415694e-01, 1.65843056e-02],
       [9.51715742e-01, 4.82842576e-02],
       [5.45135536e-01, 4.54864464e-01],
       [9.79257589e-01, 2.07424110e-02],
       [9.60773711e-01, 3.92262886e-02]])