In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
train=pd.read_csv("train.csv")

In [3]:
test=pd.read_csv("test.csv")

In [4]:
print('train：',train.shape,'test：',test.shape)

train： (1176, 36) test： (294, 35)

In [5]:
full=train.append(test,ignore_index=True,sort=False)
print('合并后的数据集：',full.shape)

合并后的数据集： (1470, 36)

In [6]:
full.head()

,user_id,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,1374,58,No,Travel_Rarely,605,Sales,21,3,Life Sciences,1,...,3,80,1,29,2,2,1,0,0,0
1,1092,45,No,Travel_Rarely,950,Research & Development,28,3,Technical Degree,1,...,4,80,1,8,3,3,5,4,0,3
2,768,40,No,Travel_Rarely,300,Sales,26,3,Marketing,1,...,2,80,1,8,3,2,7,7,7,5
3,569,36,No,Non-Travel,1434,Sales,8,4,Life Sciences,1,...,2,80,0,10,1,3,10,7,0,9
4,911,25,Yes,Travel_Frequently,599,Sales,24,1,Life Sciences,1,...,4,80,0,1,4,3,1,0,1,0

In [7]:
full.describe().T

,count,mean,std,min,25%,50%,75%,max
user_id,1470.0,734.500000,424.496761,0.0,367.25,734.5,1101.75,1469.0
Age,1470.0,36.923810,9.135373,18.0,30.00,36.0,43.00,60.0
DailyRate,1470.0,802.485714,403.509100,102.0,465.00,802.0,1157.00,1499.0
DistanceFromHome,1470.0,9.192517,8.106864,1.0,2.00,7.0,14.00,29.0
Education,1470.0,2.912925,1.024165,1.0,2.00,3.0,4.00,5.0
EmployeeCount,1470.0,1.000000,0.000000,1.0,1.00,1.0,1.00,1.0
EmployeeNumber,1470.0,1024.865306,602.024335,1.0,491.25,1020.5,1555.75,2068.0
EnvironmentSatisfaction,1470.0,2.721769,1.093082,1.0,2.00,3.0,4.00,4.0
HourlyRate,1470.0,65.891156,20.329428,30.0,48.00,66.0,83.75,100.0
JobInvolvement,1470.0,2.729932,0.711561,1.0,2.00,3.0,3.00,4.0
JobLevel,1470.0,2.063946,1.106940,1.0,1.00,2.0,3.00,5.0
JobSatisfaction,1470.0,2.728571,1.102846,1.0,2.00,3.0,4.00,4.0
MonthlyIncome,1470.0,6502.931293,4707.956783,1009.0,2911.00,4919.0,8379.00,19999.0
MonthlyRate,1470.0,14313.103401,7117.786044,2094.0,8047.00,14235.5,20461.50,26999.0
NumCompaniesWorked,1470.0,2.693197,2.498009,0.0,1.00,2.0,4.00,9.0
PercentSalaryHike,1470.0,15.209524,3.659938,11.0,12.00,14.0,18.00,25.0
PerformanceRating,1470.0,3.153741,0.360824,3.0,3.00,3.0,3.00,4.0
RelationshipSatisfaction,1470.0,2.712245,1.081209,1.0,2.00,3.0,4.00,4.0
StandardHours,1470.0,80.000000,0.000000,80.0,80.00,80.0,80.00,80.0
StockOptionLevel,1470.0,0.793878,0.852077,0.0,0.00,1.0,1.00,3.0
TotalWorkingYears,1470.0,11.279592,7.780782,0.0,6.00,10.0,15.00,40.0
TrainingTimesLastYear,1470.0,2.799320,1.289271,0.0,2.00,3.0,3.00,6.0
WorkLifeBalance,1470.0,2.761224,0.706476,1.0,2.00,3.0,3.00,4.0
YearsAtCompany,1470.0,7.008163,6.126525,0.0,3.00,5.0,9.00,40.0
YearsInCurrentRole,1470.0,4.229252,3.623137,0.0,2.00,3.0,7.00,18.0
YearsSinceLastPromotion,1470.0,2.187755,3.222430,0.0,0.00,1.0,3.00,15.0
YearsWithCurrManager,1470.0,4.123129,3.568136,0.0,2.00,3.0,7.00,17.0

In [8]:
full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 36 columns):
user_id                     1470 non-null int64
Age                         1470 non-null int64
Attrition                   1176 non-null object
BusinessTravel              1470 non-null object
DailyRate                   1470 non-null int64
Department                  1470 non-null object
DistanceFromHome            1470 non-null int64
Education                   1470 non-null int64
EducationField              1470 non-null object
EmployeeCount               1470 non-null int64
EmployeeNumber              1470 non-null int64
EnvironmentSatisfaction     1470 non-null int64
Gender                      1470 non-null object
HourlyRate                  1470 non-null int64
JobInvolvement              1470 non-null int64
JobLevel                    1470 non-null int64
JobRole                     1470 non-null object
JobSatisfaction             1470 non-null int64
MaritalStatus               1470 non-null object
MonthlyIncome               1470 non-null int64
MonthlyRate                 1470 non-null int64
NumCompaniesWorked          1470 non-null int64
Over18                      1470 non-null object
OverTime                    1470 non-null object
PercentSalaryHike           1470 non-null int64
PerformanceRating           1470 non-null int64
RelationshipSatisfaction    1470 non-null int64
StandardHours               1470 non-null int64
StockOptionLevel            1470 non-null int64
TotalWorkingYears           1470 non-null int64
TrainingTimesLastYear       1470 non-null int64
WorkLifeBalance             1470 non-null int64
YearsAtCompany              1470 non-null int64
YearsInCurrentRole          1470 non-null int64
YearsSinceLastPromotion     1470 non-null int64
YearsWithCurrManager        1470 non-null int64
dtypes: int64(27), object(9)
memory usage: 413.6+ KB

In [9]:
full.drop(['Over18','StandardHours','EmployeeCount'],axis=1,inplace=True)

In [10]:
def mapping(dataframe,tag):
    map_={_:i for i,_ in enumerate(dataframe[tag].unique())}
    dataframe[tag] = dataframe[tag].map(map_)
    return dataframe

In [11]:
def one_hot(dataframe,label):
    df=pd.DataFrame()
    df=pd.get_dummies(full[label],prefix=label)
    dataframe=pd.concat([dataframe,df],axis=1)
    dataframe.drop(label,axis=1,inplace=True)
    return dataframe

In [12]:
full=mapping(full,"BusinessTravel")
full=one_hot(full,"BusinessTravel")

In [13]:
full=mapping(full,"Department")
full=one_hot(full,"Department")

In [14]:
full=mapping(full,"EducationField")
full=one_hot(full,"EducationField")

In [15]:
full=mapping(full,"Gender")
full=one_hot(full,"Gender")

In [16]:
full=mapping(full,"JobRole")
full=one_hot(full,"JobRole")

In [17]:
full=mapping(full,"MaritalStatus")
full=one_hot(full,"MaritalStatus")

In [18]:
full=mapping(full,"OverTime")
full=one_hot(full,"OverTime")

In [19]:
full.Attrition=full.Attrition.map({"Yes":1,"No":0})

In [20]:
#相关性矩阵
corrDf = full.corr()

In [21]:
corrDf['Attrition'].sort_values(ascending =False)

Attrition                   1.000000
OverTime_0                  0.225425
JobRole_3                   0.175908
MaritalStatus_1             0.169450
BusinessTravel_2            0.123936
JobRole_4                   0.105588
Department_0                0.080562
EducationField_1            0.079830
DistanceFromHome            0.072157
EducationField_2            0.069331
EducationField_4            0.055682
JobRole_6                   0.051005
Gender_1                    0.038074
NumCompaniesWorked          0.037556
MonthlyRate                 0.034358
Department_2                0.028266
JobRole_2                   0.009841
EducationField_5            0.004304
PerformanceRating          -0.001920
HourlyRate                 -0.003484
user_id                    -0.009329
EmployeeNumber             -0.009786
JobRole_1                  -0.013629
Education                  -0.033683
RelationshipSatisfaction   -0.034985
Gender_0                   -0.038074
PercentSalaryHike          -0.041065
YearsSinceLastPromotion    -0.042846
EducationField_0           -0.048633
BusinessTravel_0           -0.049325
TrainingTimesLastYear      -0.056043
EducationField_3           -0.062215
JobRole_8                  -0.064363
DailyRate                  -0.065743
WorkLifeBalance            -0.073935
MaritalStatus_2            -0.080551
JobRole_0                  -0.081992
BusinessTravel_1           -0.083592
Department_1               -0.089975
MaritalStatus_0            -0.092287
JobRole_7                  -0.093478
EnvironmentSatisfaction    -0.095627
JobRole_5                  -0.098481
JobSatisfaction            -0.098544
JobInvolvement             -0.114287
StockOptionLevel           -0.129769
YearsAtCompany             -0.141555
YearsWithCurrManager       -0.163825
MonthlyIncome              -0.163906
YearsInCurrentRole         -0.169024
JobLevel                   -0.172917
Age                        -0.175754
TotalWorkingYears          -0.181079
OverTime_1                 -0.225425
Name: Attrition, dtype: float64

In [22]:
full.head()

,user_id,Age,Attrition,DailyRate,DistanceFromHome,Education,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,JobRole_4,JobRole_5,JobRole_6,JobRole_7,JobRole_8,MaritalStatus_0,MaritalStatus_1,MaritalStatus_2,OverTime_0,OverTime_1
0,1374,58,0.0,605,21,3,1938,4,72,3,...,0,0,0,0,0,1,0,0,1,0
1,1092,45,0.0,950,28,3,1546,4,97,3,...,0,0,0,0,0,1,0,0,0,1
2,768,40,0.0,300,26,3,1066,3,74,3,...,0,0,0,0,0,1,0,0,0,1
3,569,36,0.0,1434,8,4,789,1,76,2,...,0,0,0,0,0,0,1,0,0,1
4,911,25,1.0,599,24,1,1273,3,73,1,...,0,0,0,0,0,0,1,0,1,0

In [23]:
#原始数据集有1176行
sourceRow=1176
source_X = full.loc[0:sourceRow-1,:]
source_X=source_X.drop('Attrition',axis=1)
#原始数据集：标签
source_y = full.loc[0:sourceRow-1,'Attrition']

#预测数据集：特征
pred_X = full.loc[sourceRow:,:]
pred_X=pred_X.drop('Attrition',axis=1)

In [24]:
source_y

0       0.0
1       0.0
2       0.0
3       0.0
4       1.0
       ...
1171    0.0
1172    0.0
1173    0.0
1174    0.0
1175    0.0
Name: Attrition, Length: 1176, dtype: float64

In [34]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

x_train,x_test,y_train,y_test = train_test_split(source_X,source_y,test_size=0.20)

lr = LogisticRegression(solver="liblinear")
lr.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

In [35]:
predict = lr.predict(x_test)
print(f"lr准确率:{accuracy_score(predict, y_test):.4f}")

lr准确率:0.9110

In [44]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn import svm

In [45]:
svm = svm.SVC(gamma="auto")
cart = DecisionTreeClassifier()
knn = KNeighborsClassifier()

In [46]:
svm.fit(x_train,y_train)
predict = svm.predict(x_test)
print(f"准确率:{accuracy_score(predict, y_test):.4f}")

准确率:0.8432

In [54]:
cart.fit(x_train,y_train)
predict = cart.predict(x_test)
print(f"准确率:{accuracy_score(predict, y_test):.4f}")

准确率:0.7458

In [58]:
knn.fit(x_train,y_train)
predict = knn.predict(x_test)
print(f"准确率:{accuracy_score(predict, y_test):.4f}")

准确率:0.8432

In [89]:
result = pd.DataFrame(columns=["Attrition","user_id"])

In [86]:
result["user_id"]=lr.predict(pred_X)

In [91]:
result["Attrition"]=lr.predict(pred_X)

In [88]:
result.join(pd.DataFrame(pred_X["user_id"]))

     Attrition  user_id
0          0.0      NaN
1          0.0      NaN
2          1.0      NaN
3          0.0      NaN
4          1.0      NaN
..         ...      ...
289        0.0      NaN
290        0.0      NaN
291        1.0      NaN
292        0.0      NaN
293        0.0      NaN

[294 rows x 2 columns]

      user_id
1176      442
1177     1091
1178      981
1179      785
1180     1332
...       ...
1465     1439
1466      481
1467      124
1468      198
1469     1229

[294 rows x 1 columns]

In [64]:
result.user_id.map()

    user_id  Attrition
0       NaN        0.0
1       NaN        0.0
2       NaN        1.0
3       NaN        0.0
4       NaN        1.0
..      ...        ...
289     NaN        0.0
290     NaN        0.0
291     NaN        1.0
292     NaN        0.0
293     NaN        0.0

[294 rows x 2 columns]

In [159]:
lr.predict(pred_X)

array([0., 0., 1., 0., 1., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 1., 0., 0.,
       1., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0.,
       1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0.,
       1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 1.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.,
       0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0.])

In [187]:
pred_X.user_id.reset_index()["user_id"]

0       442
1      1091
2       981
3       785
4      1332
       ...
289    1439
290     481
291     124
292     198
293    1229
Name: user_id, Length: 294, dtype: int64

In [176]:
result

Empty DataFrame
Columns: [user_id, Attrition]
Index: []

In [88]:
result.to_csv('sampleSubmission_3.csv',index=None)